* {
    text-decoration: none;
}

body {
  font-family: 'Muli', sans-serif;
   
  }

header {
    background-color:#fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    border-bottom: 1px solid rgb(179, 176, 176);
  
}

header .header-brand {
    font-family: muli;
    font-size: 30px;
    font-weight: bold;
    color: #111;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;

}

header nav ul {
   display: block;
   margin:0 auto;
   width: fit-content;
   
}

header nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 16px;

}

header nav ul li a {
    font-family: muli;
    font-size:18px;
    text-decoration: none;
    padding: 40px 20px;
    color: #333;
  
}

a:hover { 
    color: rgb(158, 158, 154);
}


/*index*/
.index-banner {
    width: 100%;
    height: 95vh;
    background-image: url(../img/welcity2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
   
}

 h1 {
    font-family: muli;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 20px #111;
    
}

h2{
    font-family: muli;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 5px #111;
    line-height: 34px;
    
}
div {
    display: block;
}


h3 {
    outline: 1px solid black;
    outline-offset: 0.5em;
    margin: 2em;
    display: inline-block;
    width: 300px;
    text-align: center;
   
}



.article{
  
    justify-content: space-around;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    }

.boxmodel {
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top: 1em;
    padding: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;  
}

img {
    margin-top: 2em;
}

footer {
    font-size: 0.8em;
    margin: 6em 0 1em 0;
    text-align: center;
    
}

.footer a {
   text-decoration: none; 
   list-style: none;
   font-size: 2em;
   color: #111;
}