body {
    background-color: rgb(179, 219, 243);
    display: block;
    margin: 20px auto;
    padding: 0px 20px 20px 20px;
    text-align: center;
   
    font-family: 'Muli', sans-serif;
  
  }


  h1 {
      color:white;
      font-size: 2.2em;
      padding: 20px 20px 10px 20px;
      margin-top: 0%;
      text-decoration-line: none;
      border-bottom: 2px solid #9BBAD4; 
      font-weight: bold;
      background-color: rgb(220, 245, 253);  
      display: block;
      display: inline-block;
      text-decoration: none;
      
  }

  container row center {
      background-color: mediumpurple;
      display: block;
  }

 .btn {
      color: white;
      font-size: 1.3em;
      background-color: rgb(158, 241, 239);
      display: inline-block;
      padding: 10px;
      text-decoration: none;
      line-height: 38px;
      margin-bottom: 10px;
      margin-right: 3px;
  }
  


 h2 {
    color: rgb(245, 216, 223);
     text-align: center; 
 }

 h3{
    color: #4d4c49;
     text-align: center;   
 }

 p{
    color:#636161;
    text-align: center;
    display: bolck;
}  
 
